// dark colors

$dark-1: #222831;
$dark-2: #393E46;
$dark-3: #1B262C;
$dark-4: #232931;
$dark-5: #393E46;
$dark-6: #222831;
$dark-7: #3A4750;
$dark-8: #222831;
$dark-9: #3A4750;
$dark-10:#393E46;
$dark-11:#1A374D;
$dark-12:#041C32;
$dark-13: #04293A;;

// blue colors

$blue-1: #083358;
$blue-2: #0D63A5;
$blue-3: #2F8F9D;
$blue-4: #3BACB6;
$blue-5: #82DBD8;
$blue-6: #79DAE8;
$blue-7: #0AA1DD;
$blue-8: #0AA1DD;

// green blue colors

$green-1: #069A8E;
$green-2: #005555;
$green-3: #247881;
$green-4: #006778;
$green-5: #009DAE;
$green-6: #57CC99;
$green-7: #80ED99;
$green-8: #055052;

// white

$white-1: #EFFFFD;
$white-2: #D8E3E7;
$white-3: #F4F9F9;



