@mixin between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

@mixin autoFill {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(195px, 255px));
    gap: 20px 20px;
    margin-top: 1rem;
}